/* ! ===================== THIS CODE IS MAINLY WRITTEN BY MOBILE FAST MYTHOLOGY  ============================ */
/* ! =============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* ! =============== VARIABLES CSS ===============*/
:root {
  --header-height: clamp(30px, 20 vw, 65px);
  /* ! ========== Colors ==========*/
  /* ? Color mode HSL(hue, saturation, lightness)*/
  --header-background: hsla(0, 0%, 100%, 1);
  --hero-background: hsla(165, 63%, 93%, 1);
  --trusted-brand-background: hsla(0, 0%, 100%, 1);
  --why-use-background: hsla(180, 41%, 97%, 1);
  --post-pilot-background: hsla(28, 83%, 95%, 1);
  --everything-your-brand-background: hsla(0, 0%, 100%, 1);
  --fast-launch-background: hsla(180, 60%, 93%, 1);
  --post-pilot-dtc-background: hsla(0, 0%, 100%, 1);
  --how-obvi-drives-background: hsla(246, 100%, 96%, 1);
  --try-post-pilot-background: hsla(18, 100%, 59%, 1);
  --latest-trends-background: hsla(180, 41%, 97%, 1);
  --footer-background: hsla(0, 0%, 100%, 1);

  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --title-color: hsla(231, 7%, 19%, 1);
  --paragraph-color: hsla(228, 3%, 35%, 1);
  --title-grace-color: hsla(175, 100%, 29%, 1);
  --title-roboto-color: hsla(28, 12%, 61%, 1);

  --btn-shadow: 3px 3px 0px 0px hsla(231, 7%, 19%, 1);
  --btn-yellow-background: hsla(18, 100%, 59%, 1);
  --btn-white-background: hsla(0, 0%, 100%, 1);

  --gradient-card-border: 2px solid hsla(231, 7%, 19%, 1);
  /* ! ========== Font and typography ==========*/
  --body-font: "Inter", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --grace-font: "Covered By Your Grace", cursive;
  /* ?  .5rem = 8px | 1rem = 16px ...*/
  --h2-font-size: 3rem;
  --h3-font-size: 2.5rem;
  --h4-font-size: 3rem;
  --h5-font-size: 3.3rem;
  --h6-font-size: ;
  --biggest-font-size: 2.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.725rem;

  --button-padding: 0.115rem 0.2rem;
  /* ! ========== Font line height ==========*/
  --normal-lh: 1;
  --h2-lh: 1.1;
  --h3-lh: 1.05;
  --h4-lh: 1.2;
  --h5-lh: 1;
  --h6-lh: 1;

  /* ! ========== Font weight ==========*/
  --font-300: 300;
  --font-400: 400;
  --font-500: 500;
  --font-600: 600;
  --font-700: 700;
  --h2-font-weight: 700;
  --h3-font-weight: 700;
  --h4-font-weight: 700;
  --h5-font-weight: 500;
  --h6-font-weight: 500;

  /* ! ========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ! ========== Responsive typography ==========*/
@media screen and (min-width: 768px) {
  :root {
    /* ! ========== Font and typography ==========*/
    /* ?  .5rem = 8px | 1rem = 16px ...*/
    --h2-font-size: 5.125rem; /* 82px */
    --h3-font-size: 4.37rem; /* 70px */
    --h4-font-size: 3.93rem; /* 63px */
    --h5-font-size: 3.62rem; /* 58px */
    --h6-font-size: ;
    --biggest-font-size: 2.25rem;
    --normal-font-size: 1rem; /* 16px */
    --small-font-size: 0.875rem; /* 14px */
    --button-padding: 0.2rem 0.4rem;
    /* ! ========== Font line height ==========*/
    --normal-lh: 1;
    --h2-lh: 1.17;
    --h3-lh: 1.11;
    --h4-lh: 1.08;
    --h5-lh: 1.2;
    --h6-lh: 1;
  }
}

/* ? ====================== Default Reset css ===================== */
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h2 {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-lh);
}
h3 {
  color: var(--title-color);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-lh);
}
h4 {
  color: var(--title-color);
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
  line-height: var(--h4-lh);
}
h5 {
  color: var(--title-color);
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
  line-height: var(--h5-lh);
}
h6 {
  color: var(--title-color);
  font-size: var(--h6-font-size);
  font-weight: var(--h6-font-weight);
  line-height: var(--h6-lh);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}

button,
a {
  text-decoration: none;
  color: var(--text-color);
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ? ====================== Re-Useable css class pre setup ===================== */
.section {
  padding-top: 2.5rem;
}
.btn {
  border: var(--gradient-card-border);
  padding: var(--button-padding);
  box-shadow: var(--btn-shadow);
  font-weight: var(--font-500);
  border-radius: 0.875rem;
  transition: all 0.5s;
}
.btn__fill-yellow {
  background: var(--btn-yellow-background);
  color: var(--white-color);
}
.btn__fill-yellow:hover {
  background: var(--btn-white-background);
  border: var(--gradient-card-border);
}
.btn__fill-white {
  background: var(--btn-white-background);
  color: var(--black-color);
}
.btn__fill-white:hover {
  background: var(--btn-yellow-background);
  color: var(--white-color);
}
.grace__font {
  font-family: var(--grace-font);
  color: var(--title-grace-color);
  font-weight: var(--font-400);
}
.roboto__font {
  font-family: var(--roboto-font);
  color: var(--title-roboto-color);
  font-weight: var(--font-400);
}
/* ! ===================================================================== */
.header.sticky {
  position: fixed;
  width: 100%;
  background: var(--header-background);
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-fixed);
  box-shadow: 0px 4px 12px 0px hsla(245, 100%, 11%, 0.08);
  animation: headerSticky 0.5s linear;
}
@media screen and (max-width: 992px) {
  .nav .btn {
    font-size: 0.7rem;
  }
  .nav .nav-menu {
    gap: 2rem;
  }
  @media screen and (max-width: 768px) {
    .nav .nav-menu .nav-list {
      top: 0;
      position: fixed;
      height: 100%;
      width: 40%;
      right: 100%;
      padding: 2rem;
      -webkit-backdrop-filter: blur(40px);
      backdrop-filter: blur(40px);
      color: var(--text-color);
      z-index: 1000;
    }
    body.fly-menu .nav .nav-menu .nav-list {
      right: 0;
    }
    .nav .nav-menu .nav-list .nav-item,
    .nav .nav-menu .nav-list .nav-item button {
      font-weight: var(--font-500);
      font-size: 1rem;
    }
    .nav .nav-menu .nav-list .sub-nav-link {
      font-size: 0.8rem;
    }
    .nav .nav-menu .nav-list .nav-item button,
    .nav .nav-menu .nav-list .nav-item a {
      background: transparent;
      color: var(--text-color);
    }
    .nav .nav-menu .nav-list .nav-item .nav-link:hover,
    .nav .nav-menu .sub-nav-list .sub-nav-item .sub-nav-link:hover {
      color: var(--title-grace-color);
    }
    .nav .nav-menu .dropdown-menu-item .sub-nav-list {
      max-height: 0;
      overflow: hidden;
      transition: max-height linear 2.5s;
    }
    .nav .nav-menu .dropdown-menu-item:hover .sub-nav-list {
      max-height: 1000px;
      overflow: hidden;
      transition: max-height linear 2.5s;
    }
    .nav .nav-menu .dropdown-menu-item:hover i {
      transform: rotate(-180deg);
      transition: transform linear 0.5s;
    }
    .nav .nav-menu .nav-list .close-fly-menu {
      position: absolute;
      right: 0;
      padding: 1rem;
      top: 0;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .nav .nav-menu .open-fly-menu {
      font-size: 1.5rem;
      cursor: pointer;
    }
    .nav .nav-brand {
      max-width: 7rem;
    }
    .nav .btn {
      font-size: 0.8rem;
      padding: 0.3rem;
    }
    @media screen and (max-width: 668px) {
      .nav .nav-menu .nav-list {
        width: 60%;
      }
      @media screen and (max-width: 568px) {
        .nav .nav-menu .nav-list {
          width: 75%;
        }
        @media screen and (max-width: 468px) {
          .nav .nav-menu .nav-list {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 769px) {
  .nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .nav .nav-menu .nav-list {
    display: flex;
    gap: 0.85rem;
  }
  .nav .nav-menu .nav-list .nav-item,
  .nav .nav-menu .nav-list .nav-item button {
    font-weight: var(--font-500);
    font-size: 0.9rem;
    padding: 0;
  }
  .nav .nav-menu .nav-list .sub-nav-link {
    font-size: 0.8rem;
  }
  .nav .nav-menu .nav-list .nav-item button,
  .nav .nav-menu .nav-list .nav-item a {
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
  }
  .nav .nav-menu .nav-list .nav-item .nav-link:hover,
  .nav .nav-menu .sub-nav-list .sub-nav-item .sub-nav-link:hover {
    color: var(--title-grace-color);
  }
  .nav .nav-menu .dropdown-menu-item .sub-nav-list {
    position: absolute;
    padding: 2rem;
    max-height: 0;
    background: var(--white-color);
    overflow: hidden;
    display: none;
    transition: all linear 2.5s;
    z-index: var(--z-fixed);
    box-shadow: 1px 1px 5px #c1c0c0;
  }
  .nav .nav-menu .dropdown-menu-item:hover .sub-nav-list {
    max-height: 1000px;
    display: block;
    overflow: hidden;
    transition: all linear 2.5s;
  }
  .nav .nav-menu .dropdown-menu-item:hover i {
    transform: rotate(-180deg);
    transition: transform linear 0.2s;
  }
  .nav .nav-menu .nav-list .close-fly-menu {
    position: absolute;
    right: 0;
    padding: 1rem;
    top: 0;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav .nav-menu .open-fly-menu {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav .nav-brand {
    max-width: 6.95rem;
  }
  @media screen and (min-width: 992px) {
    .nav .nav-menu .nav-list .nav-item,
    .nav .nav-menu .nav-list .nav-item button {
      font-size: 1.15rem;
    }
    .nav .nav-brand {
      max-width: 10rem;
    }
  }
}
/* ! HOME SECTION CSS */
.home {
  background: var(--hero-background);
}
.home .text-content .description {
  font-weight: var(--font-500);
  color: var(--paragraph-color);
  margin: 0.5rem 0;
}
/* ! TRUSTED SECTION CSS */
.trusted .wrapper {
  display: grid;
  place-content: center;
  gap: 1rem;
  padding: 3rem;
  grid-template-columns: repeat(1, minmax(250px, 400px));
}
.trusted .wrapper .item .footer-img {
  height: 1.5rem;
}
@media screen and (min-width: 500px) {
  .trusted .wrapper {
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(220px, 500px));
  }
  @media screen and (min-width: 800px) {
    .trusted .wrapper {
      gap: 3rem;
      grid-template-columns: repeat(3, minmax(200px, 500px));
    }
    .trusted .title {
      max-width: 37.6875rem;
    }
    .btn {
      font-size: 0.85rem;
    }
    @media screen and (min-width: 1100px) {
      .trusted .wrapper {
        gap: 4rem;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      }
      .trusted .wrapper .item .footer-img {
        height: 2rem;
      }
      .btn {
        font-size: 1rem;
      }
    }
  }
}
/* ! DIRECT MAIL SECTION CSS */
.direct-mail {
  background: var(--why-use-background);
}
.direct-mail .wrapper {
  display: grid;
  gap: 0.7rem;
  place-content: center;
  grid-template-columns: repeat(3, minmax(90px, 170px));
}
.direct-mail .wrapper .item {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
/* ! DIRECT MAIL SECTION RESPONSIVE CSS */
@media screen and (min-width: 500px) {
  .direct-mail .wrapper {
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(80px, 120px));
  }
  @media screen and (min-width: 768px) {
    .direct-mail .title {
      max-width: 37.6875rem;
    }
    .direct-mail .wrapper {
      gap: 2.6rem;
      grid-template-columns: repeat(auto-fit, minmax(80px, 170px));
    }
    @media screen and (min-width: 1000px) {
      .direct-mail .wrapper {
        gap: 5rem;
        grid-template-columns: repeat(auto-fit, minmax(80px, 200px));
      }
      @media screen and (min-width: 1300px) {
        .direct-mail .wrapper {
          gap: 11rem;
          grid-template-columns: repeat(auto-fit, minmax(80px, 248px));
        }
      }
    }
  }
}
/* ! POST-PILOT SECTION CSS */
.post-pilot {
  background: var(--post-pilot-background);
}
.post-pilot .title {
  padding: 3rem 0;
}
.post-pilot .wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.post-pilot .item-wrapper {
  display: flex;
  justify-content: start;
  padding: 1rem 0;
}
.post-pilot .wrapper :nth-child(2) {
  justify-content: end;
}
.post-pilot .wrapper .item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.post-pilot .wrapper .item .description {
  font-weight: var(--font-500);
  color: var(--paragraph-color);
}
.post-pilot .card {
  background: transparent;
  padding: 1.1rem;
}
.post-pilot .card .card-title {
  font-weight: var(--font-500);
  font-style: italic;
  color: var(--paragraph-color);
  line-height: 1.8;
}
.post-pilot .card .brand-parson {
  font-weight: var(--font-400);
  font-family: var(--roboto-font);
  color: var(--title-roboto-color);
}
.post-pilot .card .img-fluid {
  max-width: 3rem;
}
.post-pilot .card .colon-icon {
  top: 0;
  left: 2rem;
  transform: translateY(-50%);
  background: var(--post-pilot-background);
}
/* ! POST-PILOT SECTION RESPONSIVE CSS */
@media screen and (min-width: 550px) {
  .post-pilot .item-wrapper {
    padding: 1.5rem 0;
  }
  .post-pilot .wrapper .item {
    max-width: 90%;
  }
  @media screen and (min-width: 750px) {
    .post-pilot .item-wrapper {
      padding: 2rem 0;
    }
    .post-pilot .wrapper .item {
      max-width: 80%;
    }
    @media screen and (min-width: 1150px) {
      .post-pilot .title {
        max-width: 58.81rem;
      }
      .post-pilot .item-wrapper {
        padding: 4rem 0;
      }
      .post-pilot .wrapper .item .description {
        font-size: 1.25rem;
      }
      .post-pilot .wrapper :nth-child(1) .item {
        max-width: 32.25rem;
      }
      .post-pilot .wrapper :nth-child(2) .item {
        max-width: 40.31rem;
      }
      .post-pilot .wrapper :nth-child(3) .item {
        max-width: 32.25rem;
      }
    }
  }
}
/* ! YOUR BRAND SECTION CSS */
.your-brand {
  background: var(--everything-your-brand-background);
}
.your-brand .wrapper {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(1, minmax(200px, 300px));
  gap: 1rem;
}
.your-brand .wrapper :nth-child(1) {
  background: hsla(28, 83%, 95%, 1);
}
.your-brand .wrapper :nth-child(2) {
  background: hsla(165, 63%, 93%, 1);
}
.your-brand .wrapper :nth-child(3) {
  background: hsla(246, 100%, 96%, 1);
}
.your-brand .wrapper :nth-child(4) {
  background: hsla(190, 65%, 91%, 1);
}
.your-brand .wrapper :nth-child(5) {
  background: hsla(0, 57%, 95%, 1);
}
.your-brand .wrapper :nth-child(6) {
  background: hsla(0, 0%, 95%, 1);
}
.your-brand .wrapper .item {
  border-radius: 0.95rem;
  padding: 2rem;
  text-align: center;
  justify-content: space-between;
}
.your-brand .wrapper .item .img-fluid,
.your-brand .wrapper .item .item-title,
.your-brand .wrapper .item .item-description {
  background: transparent;
}
.your-brand .wrapper .item .item-title {
  font-weight: var(--font-700);
  color: var(--title-color);
  font-size: 1.5rem;
  margin-top: 2rem;
}
.your-brand .wrapper .item .item-description {
  color: var(--paragraph-color);
  font-weight: var(--font-500);
}
/* ! POST-PILOT SECTION RESPONSIVE CSS */
@media screen and (min-width: 550px) {
  .your-brand .wrapper {
    grid-template-columns: repeat(1, minmax(200px, 430px));
  }
  @media screen and (min-width: 650px) {
    .your-brand .wrapper {
      grid-template-columns: repeat(2, minmax(200px, 430px));
    }
    @media screen and (min-width: 992px) {
      .your-brand .wrapper {
        grid-template-columns: repeat(3, minmax(200px, 380px));
      }
      @media screen and (min-width: 1300px) {
        .your-brand {
          padding: 3.5rem 0;
        }
        .your-brand .title {
          padding: 2rem 0;
        }
        .your-brand .wrapper .item .item-title {
          max-width: 290px;
        }
        .your-brand .wrapper .item .item-description {
          color: var(--paragraph-color);
          font-weight: var(--font-500);
        }
        .your-brand .wrapper {
          grid-template-columns: repeat(3, minmax(180px, 410px));
        }
      }
    }
  }
}
/* ! FAST-LAUNCH SECTION CSS */
.fast-launch {
  background: var(--fast-launch-background);
  padding: 2rem 0;
}
.fast-launch .accordion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.fast-launch .accordion .accordion-item {
  border: none;
  display: flex;
  align-items: start;
  background: transparent;
  position: relative;
}
.fast-launch .accordion .accordion-item .accordion-number {
  font-size: 3rem;
  letter-spacing: 4px;
  z-index: 2;
}
.fast-launch .accordion .accordion-item .grace__font {
  background: var(--fast-launch-background);
  color: hsla(180, 31%, 72%, 1);
}
.fast-launch .accordion .accordion-item.show .grace__font {
  color: var(--title-grace-color);
}
.fast-launch .accordion .accordion-item::after,
.fast-launch .accordion .accordion-item::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  background: hsla(180, 31%, 72%, 1);
  left: 3.5%;
}
.fast-launch .accordion .accordion-item::after {
  height: 75%;
  background: var(--paragraph-color);
}
.fast-launch .accordion .accordion-item .accordion-body {
  padding: 0;
  padding-left: 1rem;
}
.fast-launch .accordion .accordion-item .accordion-title {
  font-size: 2.125rem;
  line-height: 1.4;
  font-weight: var(--font-700);
  color: hsla(231, 7%, 19%, 0.4);
  cursor: pointer;
}
.fast-launch .accordion .accordion-item.show .accordion-title {
  color: var(--title-color);
}
.fast-launch .accordion .accordion-item .accordion-content {
  color: var(--paragraph-color);
  font-size: 1.25rem;
  max-height: 0;
  overflow: hidden;
  transition: linear 1s;
}
.fast-launch .accordion .accordion-item.show .accordion-content {
  max-height: 1000px;
}
/* ! FAST-LAUNCH SECTION RESPONSIVE CSS */
@media screen and (min-width: 768px) {
  .fast-launch {
    padding: 3rem 0;
  }
  .fast-launch .accordion .accordion-item::after,
  .fast-launch .accordion .accordion-item::before {
    left: 2.5%;
  }
  @media screen and (min-width: 992px) {
    .fast-launch {
      padding: 5rem 0;
    }
    .fast-launch .accordion {
      max-width: 34rem;
    }
    .fast-launch .accordion .accordion-item .accordion-body {
      padding-left: 2rem;
    }
    .fast-launch .accordion .accordion-item::after,
    .fast-launch .accordion .accordion-item::before {
      left: 3%;
    }
    @media screen and (min-width: 1400px) {
      .fast-launch {
        padding: 6rem 0;
      }
      .fast-launch .accordion .accordion-item .accordion-body {
        padding-left: 3.5rem;
      }
      .fast-launch .accordion .accordion-item::after,
      .fast-launch .accordion .accordion-item::before {
        left: 2.6%;
      }
    }
  }
}
/* ! POST-PILOT DTC SECTION CSS */
.post-pilot-dtc {
  background: var(--post-pilot-dtc-background);
  padding: 2rem 0;
}
.post-pilot-dtc .wrapper {
  padding: 2rem 0;
  gap: 1rem;
  overflow: hidden;
}
.post-pilot-dtc .wrapper .item {
  min-width: 350px;
  padding: 1.5rem;
  border: 2px solid var(--title-color);
  border-radius: 0.95rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.post-pilot-dtc .wrapper .item .user-img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.post-pilot-dtc .wrapper .item .user-img .img-fluid {
  border-radius: 1000px;
}
.post-pilot-dtc .wrapper .item .user-name-info .user-name {
  color: var(--title-color);
  font-weight: var(--font-500);
  font-size: 0.95rem;
}
.post-pilot-dtc .wrapper .item .user-name-info .user-uri {
  color: var(--paragraph-color);
  font-size: 0.91rem;
  font-weight: var(--font-500);
}
.post-pilot-dtc .wrapper .item .twitter-ctx {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-content: center;
  -o-object-fit: cover;
  object-fit: cover;
}
.post-pilot-dtc .wrapper .item .description {
  font-weight: var(--font-500);
  color: var(--paragraph-color);
  line-height: 1.8;
}
/* ! POST-PILOT DTC SECTION RESPONSIVE CSS */
@media screen and (min-width: 500px) {
  .post-pilot-dtc .wrapper .item {
    min-width: 410px;
  }
  .post-pilot-dtc .wrapper {
    gap: 1.5rem;
  }
  @media screen and (min-width: 768px) {
    .post-pilot-dtc .wrapper {
      gap: 2rem;
    }
    @media screen and (min-width: 992px) {
      .post-pilot-dtc .wrapper {
        gap: 2.5rem;
      }
      @media screen and (min-width: 1300px) {
        .post-pilot-dtc .wrapper {
          gap: 2.5rem;
        }
      }
    }
  }
}
/* ! TRY POST PILOT SECTION CSS */
.try-post-pilot {
  overflow: hidden;
  background: var(--try-post-pilot-background);
}
.try-post-pilot .wrapper {
  display: flex;
  flex-direction: column;
}
.try-post-pilot .img-container {
  max-width: 596.31px;
  transform: scale(105%);
}
/* ! TRY POST PILOT SECTION RESPONSIVE CSS */
@media screen and (min-width: 700px) {
  .try-post-pilot .wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .try-post-pilot .text-content {
    max-width: 613px;
    color: var(--white-color);
  }
}
/* ! LATEST TRENDS SECTION CSS */
.latest-trends {
  background: var(--latest-trends-background);
  padding: 1rem 0;
}
.latest-trends .wrapper {
  display: grid;
  place-content: center;
  gap: 1rem;
  padding: 1rem 0;
  grid-template-columns: repeat(1, minmax(200px, 370px));
}
.latest-trends .wrapper .item {
  display: flex;
  gap: 1rem;
}
.latest-trends .wrapper .title {
  color: var(--title-color);
  font-size: 1.35rem;
  font-weight: var(--font-700);
}
.latest-trends .wrapper .img-container {
  -o-object-fit: cover;
  object-fit: cover;
}
.latest-trends .wrapper .img-fluid {
  width: 100%;
  max-height: 230px;
}
/* ! LATEST TRENDS SECTION RESPONSIVE CSS */
@media screen and (min-width: 575px) {
  .latest-trends {
    padding: 2rem 0;
  }
  .latest-trends .wrapper {
    gap: 1rem;
    padding: 1.5rem;
    grid-template-columns: repeat(2, minmax(200px, 350px));
  }
  .latest-trends .wrapper .img-fluid {
    width: 100%;
    max-height: 127.9px;
  }
  .latest-trends .wrapper .title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 678px) {
  .latest-trends .wrapper .img-fluid {
    width: 100%;
    max-height: 177.9px;
  }
  .latest-trends .wrapper .title {
    font-size: 1.15rem;
  }
  @media screen and (min-width: 992px) {
    .latest-trends {
      padding: 3rem 0;
    }
    .latest-trends .wrapper {
      padding: 2rem 0;
      gap: 1rem;
      grid-template-columns: repeat(3, minmax(200px, 410px));
    }
    .latest-trends .wrapper .img-fluid {
      width: 100%;
      max-height: 169.45px;
    }
    .latest-trends .wrapper .title {
      font-size: 1.25rem;
    }
    @media screen and (min-width: 1200px) {
      .latest-trends .wrapper .img-fluid {
        width: 100%;
        max-height: 203px;
      }
      .latest-trends .wrapper .title {
        font-size: 1.45rem;
      }
    }
  }
}
/* ! FOOTER SECTION CSS */
.footer {
  background: var(--footer-background);
}
.footer .wrapper {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(1, minmax(150px, 340px));
  gap: 0.2rem;
  padding: 1rem 0;
}
.footer .wrapper aside p {
  padding-top: 1rem;
  color: var(--paragraph-color);
  font-size: 0.95rem;
  font-weight: var(--font-500);
}
.footer .wrapper .nav {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
}
.footer .wrapper .nav .heading {
  font-weight: var(--font-700);
  font-size: 0.97rem;
  color: var(--title-color);
}
.footer .wrapper .nav .nav-link {
  font-weight: var(--font-500);
  font-size: 1rem;
  color: var(--title-color);
  padding: 0.47rem 0;
}
.footer .wrapper .nav .nav-link:hover {
  color: var(--title-grace-color);
}
.footer .wrapper .nav:last-child .printed {
  font-size: 1rem;
  font-weight: var(--font-500);
  color: var(--paragraph-color);
}
.footer .wrapper .nav:last-child .email {
  font-size: 0.975rem;
  font-weight: var(--font-500);
  color: var(--title-color);
}
.footer .footer-bottom {
  padding: 1rem;
  border-top: 1px solid hsla(240, 2%, 90%, 1);
}
.footer .footer-bottom .footer-brand {
  max-width: 100px;
}
.footer .footer-bottom .copy-right {
  font-weight: var(--font-500);
  font-size: 0.775rem;
  color: var(--paragraph-color);
}
/* ! FOOTER SECTION RESPONSIVE CSS */
@media screen and (min-width: 430px) {
  .footer .wrapper .nav {
    gap: 0.5rem;
  }
  .footer .wrapper {
    grid-template-columns: repeat(2, minmax(150px, 340px));
    gap: 0.5rem;
  }
  @media screen and (min-width: 768px) {
    .footer .wrapper .nav {
      gap: 1rem;
    }
    .footer .wrapper {
      padding: 3rem 0;
      grid-template-columns: repeat(3, minmax(150px, 328px));
    }
    .footer .footer-bottom .footer-brand {
      max-width: 110px;
    }
    .footer .footer-bottom .copy-right {
      font-size: 0.775rem;
    }
    @media screen and (min-width: 1100px) {
      .footer .wrapper .nav {
        gap: 1.5rem;
      }
      .footer .wrapper {
        grid-template-columns: repeat(4, minmax(150px, 328px));
      }
      .footer .wrapper aside p {
        max-width: 277px;
      }
      .footer .footer-bottom .footer-brand {
        max-width: 129px;
      }
      .footer .footer-bottom .copy-right {
        font-size: 0.975rem;
      }
    }
  }
}

/* ! notice-bar CSS */
.notice-bar {
  text-align: right;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-bottom: 1px solid hsl(0, 0%, 0%);
  text-transform: capitalize;
}
.notice-bar.hide {
  display: none;
}
.notice-bar span {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100px;
  background: #cecece78;
  margin-left: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
.notice-bar span:hover {
  background: #cecece;
}
.notice-bar a {
  text-decoration: underline;
}
@media screen and (min-width: 600px) {
  .notice-bar {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
  }
}
@keyframes headerSticky {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
